html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
    background-color: black;
    color: white;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}

#main_container {
    margin-left: 50px;
    margin-right: 50px
    padding: 100px;
    background-color: rgba(44, 40, 40, 0.657);

}

#headshot {
    border-color: rgba(0, 0, 0, 0.589);
    border-style: solid;
    border-width: 5px;
    height: 100px;
    width: 100px;
    margin-left: 15px;
    margin-top: 15px;
    float:left;
}

ul{
    display: flex;
    justify-content: flex-end;
    height: 25%;
    width: 100%;
    align-content: space-evenly;
    list-style-type: none;
}


}
.column1 h1, 
.column1 h3 {
    float: left;
    text-align: right;
    padding
}

.column1,
,column2,
.column3 (
   

)

.column1 {
 

}
.column2 (
   
  
)
.column3 (
    flex: 100%;
    display flex;
)