html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
ul{
    display: flex;
    justify-content: flex-end;
    height: 25%;
    width: 100%;
    align-content: space-evenly;
    list-style-type: none;
}

#headshot {
    height: 100px;
    width: 100px;
}