html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
    background-color: black;
    color: white;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

#main_container {
    margin-left: 75px;
    margin-right: 60px; 
    padding: 10px;
    background-color: rgba(44, 40, 40, 0.657);

}

ul {
    display: flex;
    justify-content: flex-end;
    height: 25%;
    width: 100%;
    align-content: space-evenly;
    list-style-type: none;
}

.section1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    
   
}
#headshot {
    border-color: rgba(14, 13, 13, 0.589);
    border-style: solid;
    border-width: 5px;
    height: 175px;
    width: 175px;
    margin-left: 15px;
    margin-top: 15px;
    margin-right: 15px;
    float: left;
    box-sizing: border-box;
}

.name_title {
    box-sizing: border-box;
    height: 100%;
    text-align: left;
    width: 100%;
    padding-left: 14px;
    
}

#name {
    margin-bottom: 0;
    font-size: 30px;
    padding-top: 15px;
    
}
#title {
    margin-top: 0;
    font-size: 20px;
    color: lightblue;
}

.column1, .column2 {
    margin-bottom: 0;
    height: 100%;
}
.column1 {
    float:right;
    width: 60%;

}
.column2 {
    margin-left: auto;
    margin-right: 
    height: 100%;
    width: 40%;
    text-align:justify;
     box-sizing: border-box;
}

.column3 {
    flex: 100%;
    margin-left: 15px;
    margin-right: 15px;

}

